{% extends 'bootstrap/base.html' %}

{% block head %}
    {{ super() }}
    <title>
        {% block title %}Arreglador de otrografía xlsx |{% endblock %}
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}
    <div id="page-container">
        <div id="content-wrap">
            {% block navbar %}
                {% include 'navbar.html' %}
            {% endblock %}
            
            <div class="container main-content">
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class= "{{ category }}">
                        <button type="button"
                        data-dismiss="alert"
                        class="close">&times;</button>
            
                        {{ message }}
                    </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </div>
        {% block footer %}
            {% include 'footer.html' %}
        {% endblock %}
    </div>

    {% block scripts %}
        {{ super() }}
    {% endblock %}
{% endblock %}