html {
    height: 100%;
}
body {
    background-color: #1f7246;
}
footer {
    height: 215px;
    text-align: center;
    padding: 3px;
    margin-top: 100px;
    background-color: #383838;
    color: #9d9d9d;
}
.main-title {
    text-align: center;
}
.main-content {
    background-color:  #7F927F;
    width: 70%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 20px;
}
.footer-items {
    display: flex;
    justify-content: space-evenly;
}